# Игнорировать временные файлы сборки и NuGet
**/[Bb]in/
**/[Oo]bj/
**/.vs/
**/*.user
**/*.suo
**/packages/
*.nupkg

# Игнорировать файлы конфигурации Rider/IDEA
.idea/
*.iml
*.swp

# Прочие системные/IDE файлы
.DS_Store
*.log